.video__section-heading {
  text-align: center;
  font-size: 4rem;
  font-family: 'Gilda Display', serif;
  padding: 1rem 4rem;
}

.video__section {
  padding: 4rem 4rem;
}

.video__section-img {
  width: 100%;
}
